# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints

# Environments
env/
venv/
ENV/
venv.bak/

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
hypothesis/
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# OneDrive / Windows
desktop.ini
Thumbs.db

# Temporary uploads
uploads/

# Virtual environment
.venv/

.vercel
